/* Migrated style sheet from adgagenetics.org to make the pedigrees look better */

#ctl00_BodyContentPlaceHolder_PedigreeBlock1_PedTable {
    background-color: #f5f5f5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: .8em;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    word-spacing: normal;
    background-image: none;
    margin: auto;
}
	
.datagrid
{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	400;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
}

#ctl00_BodyContentPlaceHolder_PedigreeBlock1_PedTable .footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: .7em;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    word-spacing: normal;
    letter-spacing: normal;
    text-transform: none;
}
