body {
    padding-top: 85px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/* Customize the jumbotron control with a background image */
.jumbotron {
    background-image: url(/img/jumbotron.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #dedede;
    text-shadow: 2px 2px #2c2c2c;
}

/* Style the file upload inputs */
input[type="file"] {
    display: none;
}

.img-row-thumb {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.overlay {
    display: none;
}

.img-row-thumb:hover .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    border: 10px solid red;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding: 12px;
    font-size: 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.login-container {
    background-color: antiquewhite;
    background-image: url(pexels-photo-674578.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Copied from bootstrap's signin example page*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
}

.form-control-lone {
    border-radius: 4px !important;
}

.form-control-top {
    margin-bottom: -1px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form-control-bottom {
    margin-bottom: 10px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

textarea {
    max-width: 100%;
    max-height: 100%;
    width: 95%;
    height: 250px;
    font-family: Courier New, Courier, monospace;
}