---
layout: main
---

{% include goatdetails.html %}

<h3 class="text-success text-center">Breeding Information</h3>
<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Bred to</h4>
            </div>
            <div class="panel-body">
                <h5>
                    {{ page.MateName }}
                    <br />
                    {{ page.MateNumber }}
                </h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">Kidding</h4>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Bred on</dt>
                    <dd>{{ page.BreedingDate }}</dd>
                    <dt>Expected Kidding Date</dt>
                    <dd>{{ page.KiddingDate }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

{% include goatpedigree.html %}

<hr />
<p>
    <a class="btn btn-primary" href="/does.html">&laquo; All Does</a>
</p>